body {
    background-color: hsl(212, 45%, 89%)
}

.card {
    border-radius: 25px;
    background-color: white;
    width: 450px;
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: 15px;
    font-family: Outfit;
}

/*FIXME: image is not vertically centered*/
.qr {
    vertical-align: middle;
    width: 250px;
    border-radius: 25px;
}

.title {
    font-weight: 700;
}

.paragraph {
    font-weight: 400;
}